{% macro inputGroup(group, key, value, labelContent, formGroupClass, extra = {}) -%}
    <div class="form-group {{ formGroupClass }}">
        {{ form.labelRaw(group ~ '-' ~ key, labelContent, 'control-label') }}
        {{ form.input(
            group ~ '[' ~ key ~ ']',
            value,
            group ~ '-' ~ key,
            'text',
            'form-control',
            extra
        ) }}
    </div>
{%- endmacro %}

{% macro checkboxGroup(group, key, value, labelContent, formGroupClass, extra = {}) -%}
    <div class="form-group {{ formGroupClass }}">
        {{ form.labelRaw(
            group ~ '-' ~ key,
            form.checkbox(
                group ~ '[' ~ key ~ ']',
                value,
                group ~ '-' ~ key,
                '',
                extra
            ) ~ '&nbsp;' ~ labelContent,
            'radio-inline'
        ) }}
    </div>
{%- endmacro %}

{% macro selectGroup(group, key, selectedValue, possibleValues, labelContent, formGroupClass, extra = {}) -%}
    <div class="form-group {{ formGroupClass }}">
        {{ form.labelRaw(group ~ '-' ~ key, labelContent, 'control-label') }}
        {{ form.select(
            group ~ '[' ~ key ~ ']',
            selectedValue,
            possibleValues,
            group ~ '-' ~ key,
            'form-control',
            extra
        ) }}
    </div>
{%- endmacro %}
