{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}

<div class="row">
    <div class="medium-6 columns">
        <img src="{{ productImageUrl(product) }}">
        Product - {{ product.name }}
    </div>

    <div class="medium-6 columns">
        <form action="{{ routeUrl('admin.product.delete') }}"
                method="post"
                role="form">
            {{ form.csrf() }}
            {{ form.hidden('productId', product.id.getHex()) }}

            <button type="submit" class="button alert">
                <i class="fa fa-trash"></i>
                Delete Product
            </button>
        </form>
    </div>
</div>
