{% if image.path == product.defaultImage %}
    <div class="label label-primary pull-right">Default</div>

    <form action="{{ routeUrl('admin.product.unset-default-image') }}"
          method="post">
        {{ form.csrf() }}
        {{ form.hidden('productId', product.id.hex) }}

        <button type="submit" class="button alert">
            <i class="fa fa-minus-circle"></i> 
            Unset Default
        </button>
    </form>
{% else %}
    <form action="{{ routeUrl('admin.product.set-default-image') }}"
          method="post">
        {{ form.csrf() }}
        {{ form.hidden('productId', product.id.hex) }}
        {{ form.hidden('imageId', image.id.hex) }}

        <button type="submit" class="button">
            Set Default
        </button>
    </form>
{% endif %}
