{# @var attributeValue \inklabs\kommerce\EntityDTO\AttributeValueDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Attribute Value - {{ attributeValue.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@admin/attribute/attribute-value/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <form action="{{ routeUrl('admin.attribute.attribute-value.edit.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('attributeValueId', attributeValue.id.hex ) }}
                        <div class="well">
                            {% include '@admin/attribute/attribute-value/parts/attribute-value-intput-fields.twig' %}
                        </div>

                        <div class="well">
                            <div class="pull-right text-muted text-right">
                                <span title="Created">{{ attributeValue.createdFormatted }}</span><br>
                                <span title="Updated">{{ attributeValue.updatedFormatted }}</span><br>
                            </div>

                            <button type="submit" class="btn btn-primary" data-loading-text="Saving...">
                                <i class="fa fa-check-circle"></i> Save
                            </button>
                            <a href="{{ routeUrl('admin.attribute.attribute-values', {'attributeId': attributeValue.attribute.id.hex}) }}" class="btn btn-default">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
