{# @var order \inklabs\kommerce\EntityDTO\OrderDTO #}
<div class="row">
    <div class="col-sm-12">
        <h2>Order Details</h2>
        <?=View::factory('helper/order_headline')?>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <strong>Shipping Address</strong>
                    {% embed 'helper/order-address.twig' with {'address': order.shippingAddress } only %}{% endembed %}
                    <hr>
                    <strong>Billing Address</strong>
                    {% embed 'helper/order-address.twig' with {'address': order.billingAddress } only %}{% endembed %}
                </div>
                <div class="col-sm-4">
                    <strong>Payment Information</strong>
                    <div>
                        {% embed 'helper/order-payments.twig' %}{% endembed %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <strong>Order Summary</strong>
                    <table class="table table-condensed totals-table">
                        <tbody>
                        <tr>
                            <td>Subtotal:</td>
                            <td class="text-right">
                                {{ order.total.subtotal | displayPrice }}
                            </td>
                        </tr>
                        <tr>
                            <td>Shipping:</td>
                            <td class="text-right">
                                {{ order.total.shipping | displayPrice }}
                            </td>
                        </tr>
                        {% if order.total.discount > 0 %}
                            <tr class="cart-discounts">
                                <td>Discounts:</td>
                                <td class="text-right">
                                    ({{ order.total.discount | displayPrice }})
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Tax:</td>
                            <td class="text-right">
                                {{ order.total.tax | displayPrice }}
                            </td>
                        </tr>
                        <tr class="cart-total-price info">
                            <td>Total:</td>
                            <td class="text-right">
                                {{ order.total.total | displayPrice }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    {% if order.discountNames is not empty %}
                        <hr>
                        <strong>Discounts</strong>
                        <div>
                            {{ order.discountNames }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th></th>
                    <th class="text-right">Qty</th>
                    <th class="text-right hidden-xs">Unit Price</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for orderItem in order.orderItems %}
                    <tr>
                        <td style="width: 75px">
                            {% if orderitem.product is not null %}
                                <img src="{{ productImgaeUrl(orderItem.product) }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if orderItem.product is not null %}
                                <a href="{{ productUrl(orderItem.product) }}">{{ orderItem.name }}</a><br>
                            {% else %}
                                {{ orderItem.name | nl2br }}
                            {% endif %}
                            <span class="small text-muted">{{ orderItem.sku }}</span><br>

                            {% embed 'helper/order-item-options.twig' with {'orderItem': orderItem} only %}{% endembed %}

                            {# TODO: Add to cart if in stock
                            <?php if (orderItem.product !== null && orderItem.product.isInStock) { ?>
                                <?=Form::open('cart/add_item', [
                                    'id' => 'cart_add_item',
                                    'method' => 'POST',
                                    'class' => 'form-inline',
                                ])?>
                                <?=Form::csrf()?>
                                <?=Form::hidden('quantity', 1)?>

                                <input type="hidden" name="id" value="<?=orderItem.product.id.getHex()?>" />

                                <?php counter = 0; ?>
                                <?php foreach (orderItem.orderItemOptionProducts as orderItemOptionProduct) { ?>
                                    <?=Form::hidden(
                                        'option[' . orderItemOptionProduct.optionProduct.option.id.getHex() . ']',
                                        'OP-' . orderItemOptionProduct.optionProduct.id.getHex()
                                    )?>
                                <?php } ?>

                                <?php foreach (orderItem.orderItemOptionValues as orderItemOptionValue) { ?>
                                    <?=Form::hidden(
                                        'option[' . orderItemOptionValue.optionValue.option.id.getHex() . ']',
                                        'OV-' . orderItemOptionValue.optionValue.id.getHex()
                                    )?>
                                <?php } ?>

                                <?php foreach (orderItem.orderItemTextOptionValues as orderItemTextOptionValue) { ?>
                                    <?=Form::hidden(
                                        'textOption[' . orderItemTextOptionValue.textOption.id.getHex() . ']',
                                        orderItemTextOptionValue.textOption.id.getHex()
                                    )?>
                                <?php } ?>

                                <button type="submit" class="btn btn-default btn-xs">
                                    <i class="fa fa-shopping-cart"></i> Buy it Again
                                </button>
                                <?=Form::close()?>
                            <?php } ?>
                            #}

                            {# TODO: Attachments
                            {% for attachment in orderItem.attachments %}
                                <img src="{{ attachment.uri }}" style="max-height: 150px" />
                            {% endfor %}

                            <div class="clear"></div>
                            <?php if (orderItem.areAttachmentsEnabled) { ?>
                                <?=HTML::anchor(orderItem.userAttachmentForOrderItemUrl, '<i class="glyphicon glyphicon-plus-sign"></i> Upload Attachment', [
                                    'class' => 'btn btn-xs btn-success upload-attachment',
                                ])?>
                            <?php } ?>
                            #}

                            <div class="visible-xs">
                                <br>
                                {% embed 'helper/unit-price.twig' with {'price': orderItem.price } only %}{% endembed %}
                            </div>
                        </td>
                        <td class="text-right">{{ orderItem.quantity }}</td>
                        <td class="text-right hidden-xs">
                            {% embed 'helper/unit-price.twig' with {'price': orderItem.price } only %}{% endembed %}
                        </td>
                        <td class="text-right">{{ orderItem.price.quantityPrice | displayPrice }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
