{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}
{# @var user \inklabs\kommerce\EntityDTO\UserDTO #}
{# @var months array #}
{# @var years array #}

{# @var array $shipping #}
{# @var array $creditCard #}
{# @var array $states #}

{% extends 'layout/base-checkout.twig' %}

{% block pageTitle %}Checkout{% endblock %}

{% block content %}
    <div id="checkout">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Order Summary</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">Item</th>
                            <th class="text-right">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cartItem in cart.cartItems %}
                            <tr>
                                <td class="cart-product-image">
                                    <a href="{{ productUrl(cartItem.product) }}">
                                        <img src="{{ productImageUrl(cartItem.product) }}" width="110" height="110" />
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ productUrl(cartItem.product) }}">
                                        <span class="cart-product-title">{{ cartItem.product.name }}</span>
                                    </a>

                                    <div class="hidden-sm">
                                        <span class="sku">{{ cartItem.product.sku }}</span>
                                    </div>

                                    <div class="cart-unit-price">
                                        <span class="hidden-sm">Unit Price:</span>
                                        {% embed 'helper/unit-price.twig' with {'price': cartItem.price } only %}{% endembed %}
                                    </div>

                                    <div class="cart-qty">
                                        <span class="hidden-sm">Quantity: {{ cartItem.quantity }}</span>
                                        <span class="visible-sm">{{ cartItem.quantity }}</span>
                                    </div>

                                    {% if cartItem.cartItemOptionProducts is not empty
                                        or cartItem.cartItemOptionValues is not empty
                                        or cartItem.cartItemTextOptionValues is not empty
                                    %}
                                        <hr class="small-margin" />
                                    {% endif %}

                                    <div>
                                        {% for cartItemOptionProduct in cartItem.cartItemOptionProducts %}
                                            <small>
                                                <span class="hidden-sm hidden-xs">
                                                    {{ cartItemOptionProduct.optionProduct.option.name }}:
                                                </span>
                                                <span class="text-muted">
                                                    {{ cartItemOptionProduct.optionProduct.product.name }}
                                                </span>
                                                <br>
                                            </small>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        {% for cartItemOptionValue in cartItem.cartItemOptionValues %}
                                            <small>
                                                <span class="hidden-sm hidden-xs">
                                                    {{ cartItemOptionValue.optionValue.option.name }}:
                                                </span>
                                                <span class="text-muted">
                                                    {{ cartItemOptionValue.optionValue.name }}
                                                </span>
                                                <br>
                                            </small>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        {% for cartItemTextOptionValue in cartItem.cartItemTextOptionValues %}
                                            <small>
                                                <span class="hidden-sm hidden-xs">
                                                    {{ cartItemTextOptionValue.textOption.name }}:
                                                </span>
                                                <span class="text-muted">
                                                    {{ cartItemTextOptionValue.textOptionValue }}
                                                </span>
                                                <br>
                                            </small>
                                        {% endfor %}
                                    </div>
                                </td>
                                <td class="text-right">
                                    {{ cartItem.price.quantityPrice | displayPrice }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="totals_container">
                        {% embed 'cart/parts/totals.twig' %}{% endembed %}
                    </div>
                    {% if cart.shipmentRate.deliveryMethod is not null %}
                        {# TODO:
                            <?=View::factory('cart/modify_zipcode_button')->set('class', 'btn btn-default btn-sm')->render()?>
                        #}
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <form action="{{ routeUrl('checkout.pay') }}" method="post" id="main-form" class="form" role="form">
                        {{ form.csrf() }}

                        {% if user is defined %}
                            {{ form.hidden('shipping[userId]', user.id, 'user_id') }}
                        {% endif %}

                        <h2>Shipping</h2>
                        <div class="well">
                            <div class="row">
                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'firstName',
                                    shipping.firstName,
                                    'First Name',
                                    'col-sm-6',
                                    {
                                        'required': '',
                                        'autofocus': ''
                                    }
                                ) }}
                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'lastName',
                                    shipping.lastName,
                                    'Last Name',
                                    'col-sm-6',
                                    {
                                        'required': ''
                                    }
                                ) }}
                            </div>

                            <div class="row">
                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'company',
                                    shipping.company,
                                    'Company Name <small class="text-muted">(optional)</small>',
                                    'col-sm-12',
                                    {
                                        'required': ''
                                    }
                                ) }}
                            </div>

                            <div class="row">
                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'address1',
                                    shipping.address1,
                                    'Street Address',
                                    'col-sm-12',
                                    {
                                        'required': ''
                                    }
                                ) }}
                            </div>

                            <div class="row">
                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'address2',
                                    shipping.address2,
                                    'Street Address 2 <small class="text-muted">(optional)</small>',
                                    'col-sm-12',
                                    {
                                        'required': ''
                                    }
                                ) }}
                            </div>

                            <div class="row">
                                {{ bootstrapForm.checkboxGroup(
                                    'shipping',
                                    'isResidential',
                                    shipping.isResidential,
                                    'Residential Address?',
                                    'col-sm-12'
                                ) }}
                            </div>

                            <div class="row">
                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'city',
                                    shipping.city,
                                    'City',
                                    'col-sm-4',
                                    {
                                        'required': ''
                                    }
                                ) }}

                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'state',
                                    shipping.state,
                                    'State',
                                    'col-sm-4',
                                    {
                                        'required': ''
                                    }
                                ) }}

                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'zip5',
                                    shipping.zip5,
                                    'Zipcode',
                                    'col-sm-4',
                                    {
                                        'required': ''
                                    }
                                ) }}
                            </div>

                            <div class="row">
                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'phone',
                                    shipping.phone,
                                    'Phone Number',
                                    'col-sm-6',
                                    {
                                        'required': ''
                                    }
                                ) }}

                                {{ bootstrapForm.inputGroup(
                                    'shipping',
                                    'email',
                                    shipping.email,
                                    'Email Address',
                                    'col-sm-6',
                                    {
                                        'required': ''
                                    }
                                ) }}
                            </div>
                        </div>

                        {% if cart.cartTotal.total > 0 %}
                            <h2>Billing</h2>
                            <div class="well" id="billing-well">
                                <span class="payment-errors"></span>
                                <div class="row">
                                    {{ bootstrapForm.inputGroup(
                                        'creditCard',
                                        'name',
                                        creditCard.name,
                                        'Name on Card',
                                        'col-sm-8',
                                        {
                                            'required': ''
                                        }
                                    ) }}

                                    {{ bootstrapForm.inputGroup(
                                        'creditCard',
                                        'zip5',
                                        creditCard.zip5,
                                        'Zipcode',
                                        'col-sm-4',
                                        {
                                            'required': ''
                                        }
                                    ) }}
                                </div>

                                <div class="row">
                                    {{ bootstrapForm.inputGroup(
                                        'creditCard',
                                        'number',
                                        creditCard.number,
                                        'Card Number',
                                        'col-sm-9',
                                        {
                                            'required': '',
                                            'size': '20'
                                        }
                                    ) }}

                                    {{ bootstrapForm.inputGroup(
                                        'creditCard',
                                        'cvc',
                                        creditCard.cvc,
                                        'CVC',
                                        'col-sm-3',
                                        {
                                            'required': '',
                                            'size': '4'
                                        }
                                    ) }}
                                </div>

                                <div class="row">
                                    {{ bootstrapForm.selectGroup(
                                        'creditCard',
                                        'expirationMonth',
                                        creditCard.expirationMonth,
                                        months,
                                        'Expires',
                                        'col-sm-3',
                                        {
                                            'required': ''
                                        }
                                    ) }}
                                    {{ bootstrapForm.selectGroup(
                                        'creditCard',
                                        'expirationYear',
                                        creditCard.expirationYear,
                                        years,
                                        '&nbsp;',
                                        'col-sm-3',
                                        {
                                            'required': ''
                                        }
                                    ) }}
                                    <div class="span6" id="accepted-cards">
                                        <img src="{{ assetUrl('base-theme', 'img/cards.png') }}" width="180" height="24" style="width: 180px; height: 24px;" alt="Credit cards accepted: Visa, Mastercard, American Express, Discover" />
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <button class="btn btn-primary btn-lg pull-left" type="submit" data-loading-text="Loading...">
                            <i class="fa fa-lock"></i> Place your order
                        </button>
                        <div class="pull-right">
                            {% embed 'helper/secure-logos.twig' only %}{% endembed %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
