{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}

{% macro detailed(pagination) %}
    {# Previous 1 2 ... 12 13 14 [16] 17 18 19 ... 44 45 Next #}

    <div class="well well-sm pagination-well">
        {% set totalItems = max(0, pagination.total) %}
        {% if totalItems > 0 %}
            {% set lastPage = (totalItems / pagination.maxResults) | ceil %}
        {% endif %}

        {% if lastPage > 1 %}

            {% set extremePagesLimit = 1 %} {# the number of first and last pages to be displayed #}
            {% set nearbyPagesLimit = 2 %}  {# the number of pages that are displayed around the active page #}
            {% set paginationPath = '?page=' %}
            {% set showAlwaysFirstAndLast = true %}

            {% set currentPage = pagination.page %}
            {% set firstItem = min(((currentPage - 1) * pagination.maxResults) + 1, totalItems) %}
            {% set lastItem = min(firstItem + pagination.maxResults - 1, totalItems) %}

            <div class="pull-left">
                Showing {{ firstItem }} - {{ lastItem }}
                of {{ totalItems }} Results
            </div>

            <ul class="pagination pagination-sm pull-right">
                {% if currentPage > 1 %}
                    <li><a href="{{ paginationPath }}{{ currentPage - 1 }}" rel="prev"><i class="fa fa-chevron-left"></i> Previous</a></li>

                    {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                        <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                        {% set leftPage = extremePagesLimit %}
                        {% set rightPage = currentPage - nearbyPagesLimit %}
                        {% set middlePage = (((rightPage - leftPage) / 2) | ceil) + leftPage %}
                        <li><a href="{{ paginationPath }}{{ middlePage }}">...</a></li>
                    {% endif %}

                    {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                        <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% elseif showAlwaysFirstAndLast %}
                    <li><a href="#">Previous</a></li>
                {% endif %}

                <li class="active"><a href="#">{{ currentPage }}</a></li>

                {% if currentPage < lastPage %}
                    {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                        <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                        {% set leftPage = currentPage + nearbyPagesLimit %}
                        {% set rightPage = lastPage - extremePagesLimit + 1 %}
                        {% set middlePage = (((rightPage - leftPage) / 2) | ceil) + leftPage %}
                        <li><a href="{{ paginationPath }}{{ middlePage }}">...</a></li>
                    {% endif %}

                    {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                       <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    <li><a href="{{ paginationPath }}{{ currentPage + 1 }}" rel="next">Next <i class="fa fa-chevron-right"></i></a></li>
                {% elseif showAlwaysFirstAndLast %}
                    <li><a href="{{ paginationPath }}{{ currentPage + 1 }}">Next</a></li>
                {% endif %}
            </ul>
        {% else %}
            <div class="pull-left">
                Showing {{ totalItems }}
                {% trans %}
                    result
                {% plural totalItems %}
                    results
                {% endtrans %}
            </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
{% endmacro %}
