{# @var name string #}
{# @var key string #}
{# @var configuration array #}

<form action="{{ routeUrl('admin.settings.store.post') }}"
      method="post"
      class="form-horizontal"
      role="form">
    {{ form.csrf() }}
    {{ form.hidden('key', key) }}

    <div class="well">
        <div class="row form-group">
            <label for="value" class="control-label col-sm-3">{{ name }}</label>
            <div class="col-sm-8">
                <input type="text"
                       id="value"
                       name="value"
                       value="{{ configuration.value }}"
                       class="form-control col-sm-3"
                       maxlength="255"
                       required=""/>
            </div>
        </div>

        <div class="row form-group">
            <label for="{{ key }}-isActive" class="control-label col-sm-3">Is Active</label>
            {{ form.checkbox(
                key ~ '[isActive]',
                configuration.isActive,
                key ~ '-isActive'
            ) }}
        </div>
    </div>

    <div class="well">
        <div class="pull-right text-muted text-right">
            <span title="Created">{{ configuration.created|formatDate }}</span><br>
            <span title="Updated">{{ configuration.updated|formatDate }}</span><br>
        </div>

        <button type="submit" class="btn btn-primary" data-loading-text="Saving...">
            <i class="fa fa-check-circle"></i> Save
        </button>
        <a href="{{ routeUrl('admin.settings.store') }}" class="btn btn-default">Cancel</a>
    </div>
</form>
