{# @var catalogPromotions \inklabs\kommerce\EntityDTO\CatalogPromotionDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{# @var queryString string #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Catalog Promotion{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="{{ routeUrl('admin.catalog-promotion.new') }}"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle"></i> New Catalog Promotion
                    </a>
                </div>

                <h1>Catalog Promotions</h1>
                <form action="{{ routeUrl('admin.catalog-promotion') }}"
                      method="get"
                      class="form-search">
                    {% embed '@theme/helper/search-bar.twig' with {'placeholder': 'Search Name', 'queryString': queryString} only %}{% endembed %}
                </form>

                {{ paginate.detailed(pagination) }}

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Tag</th>
                            <th>Discount</th>
                            <th>Redemptions</th>
                            <th>Min Order</th>
                            <th>Max Order</th>
                            <th>Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for catalogPromotion in catalogPromotions %}
                            <tr>
                                <td>
                                    <a href="{{ adminCatalogPromotionUrl(catalogPromotion) }}">
                                        {{ catalogPromotion.name }}
                                    </a>
                                </td>
                                <td>
                                    {% if catalogPromotion.tag is null %}
                                        <span class="text-muted small">[none]</span>
                                    {% else %}
                                        {{ catalogPromotion.tag.name }}
                                    {% endif %}
                                </td>
                                <td>{{ catalogPromotion | displayPromotionValue }}</td>
                                <td>
                                    {{ catalogPromotion.redemptions }} of
                                    {% if catalogPromotion.maxRedemptions is null %}
                                        <span class="text-muted small">[unlimited]</span>
                                    {% else %}
                                        {{ catalogPromotion.maxRedemptions }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if catalogPromotion.minOrderValue is null %}
                                        <span class="text-muted small">[no minimum]</span>
                                    {% else %}
                                        {{ catalogPromotion.minOrderValue | displayPrice }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if catalogPromotion.maxOrderValue is null %}
                                        <span class="text-muted small">[no maximum]</span>
                                    {% else %}
                                        {{ catalogPromotion.maxOrderValue | displayPrice }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ catalogPromotion.start | formatDate }}
                                    -
                                    {{ catalogPromotion.end | formatDate }}
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="100%">No catalog promotions</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ paginate.detailed(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
