{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{# @var relatedProducts \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{% extends '@theme/layout/base.twig' %}

{% block pageTitle %}{{ product.name }}{% endblock %}
{% block pageDescription %}{{ product.description | nl2br }}{% endblock %}

{% block content %}

    <h2>{{ product.name | default('Product Name Not Found') }}</h2>

    <ul>
        <li>{{ product.price.quantityPrice | displayPrice }}</li>
        {% if product.isInventoryRequired %}
            <li>
                {% if product.quantity > 0 %}
                    <span>In stock</span>
                {% else %}
                    <span>Out of stock</span>
                {% endif %}
            </li>
        {% endif %}
        {% if product.productQuantityDiscounts is not empty %}
            <li>TODO Product Quantity Discounts</li>
        {% endif %}
    </ul>

    {% if product.description is not empty %}
        <dl>
            <dt>Description</dt>
            <dd>{{ product.description | nl2br }}</dd>
        </dl>
    {% endif %}

    {% if product.isInStock %}
        <form action="/cart/add-item" id="cart_add_item" method="post">
        <input type="hidden" name="_token" value="{{ CSRF_TOKEN }}">
        <input type="hidden" name="id" value="{{ product.id.getHex() }}"/>
            <span>Qty:</span>
            <input name="quantity" type="number" value="1">
            <input type="submit" class="button" value="Add to Cart">
        </div>
        </form>
    {% endif %}

    {% if relatedProducts is not empty %}
        <h2>You Might Also Like</h2>

        {% include '@theme/helpers/related-products-grid.twig' with {'products': relatedProducts } only %}

    {% endif %}

{% endblock %}
