{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}
{# @var cartItem \inklabs\kommerce\EntityDTO\CartItemDTO #}
{# @var recommendedProducts \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{% extends "layout/base.twig" %}

{% block pageTitle %}{{ cartItem.product.name }}{% endblock %}

{% block content %}
    <div id="cart-added">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thumbnail">
                        <div class="pull-left" style="margin-right: 10px">
                            <a href="{{ productUrl(cartItem.product) }}">
                                <img src="{{ cartItem.product.defaultImage }}" width="110" height="110" />
                            </a>
                        </div>
                        <a href="{{ productUrl(cartItem.product) }}">
                            <div class="product-name">{{ cartItem.product.name }}</div>
                        </a>

                        {% embed "helper/rating_stars.twig" with {'rating': cartItem.product.rating } only %}{% endembed %}

                        <div class="pull-right">Quantity in cart: {{ cartItem.quantity }}</div>

                        {% embed "helper/price.twig" with {'price': cartItem.price } only %}{% endembed %}

                        <div class="table-cell">
                            {% embed 'cart/parts/cart_item_options.twig' with {'cartItem': cartItem } only %}{% endembed %}
                        </div>

                        <div class="clearfix"></div>

                        {% if cartItem.product.productQuantityDiscounts is not empty %}
                            <div class="pull-right">
                                {% for productQuantityDiscount in (cartItem.product.productQuantityDiscounts | reverse) %}
                                    {% if cartItem.quantity < productQuantityDiscount.quantity %}
                                        {% set numberMore = productQuantityDiscount.quantity - cartItem.quantity %}
                                        {% set totalOff = productQuantityDiscount.price.quantityPrice - cartItem.price.quantityPrice %}
                                        {% set priceEach = totalOff / numberMore %}

                                        {% if priceEach < cartItem.price.unitPrice %}
                                            <form action="/cart/update-quantity" method="post" class="form-inline" style="margin-top: 15px">
                                                <input type="hidden" name="_token" value="{{ CSRF_TOKEN }}">

                                                <input type="hidden" name="id" value="{{ cartItem.id.getHex() }}" />
                                                <input type="hidden" name="quantity" value="{{ productQuantityDiscount.quantity }}" />
                                                <button type="submit" class="btn btn-success"><i class="fa fa-shopping-cart"></i>
                                                    Add {{ numberMore }} more
                                                </button>
                                                {% if priceEach > 0 %}
                                                    for
                                                    <span class="price">
                                                        {{ priceEach | displayPrice }}
                                                    </span>
                                                    {% trans %}
                                                    {% plural numberMore %}
                                                        each
                                                    {% endtrans %}
                                                {% elseif priceEach == 0 %}
                                                    <span class="cart-free-shipping">for FREE</span>
                                                {% else %}
                                                    <span class="cart-free-shipping">
                                                        for
                                                        {{ totalOff | displayPrice }}
                                                        OFF
                                                    </span>
                                                {% endif %}
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <a class="btn btn-default" href="/cart"><i class="fa fa-shopping-cart"></i> View Cart</a>

                                    {% embed "helper/checkout_button.twig" only %}{% endembed %}
                                </div>
                                <strong>Order subtotal:</strong> <span class="price-small">
                                    {{ cart.cartTotal.subtotal | displayPrice }}
                                </span>
                                <br />
                                <strong>{{ cart.totalItems }}</strong>
                                {% trans %}
                                    item in your Cart
                                {% plural cart.totalItems %}
                                    items in your Cart
                                {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            {% embed "helper/recommended_products.twig" with {'products': recommendedProducts } only %}
                {% block title %}Recommended for you{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
