{# @var order \inklabs\kommerce\EntityDTO\OrderDTO #}
{# @var user \inklabs\kommerce\EntityDTO\UserDTO #}

{% extends "layout/base.twig" %}

{% block pageTitle %}Order Received{% endblock %}

{% block content %}
    <div id="checkout-complete" class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-info">
                    <h3>Thank you, your order has been placed.</h3>
                    <p>An email confirmation has been sent to you.</p>
                    <p>
                        Order Number:
                        <a href="{{ orderUrl(order) }}">{{ order.referenceNumber }}</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <h2>Share Your Purchase</h2>
                    {% for orderItem in order.orderItems %}
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="{{ orderItem.product.defaultImage }}" width="48" height="48" />
                            </div>
                            <div class="col-sm-10">
                                <strong>I just bought: "{{ orderItem.product.name }}"</strong><br />
                                <small>{{ orderItem.product.description | truncate(117) }}</small>
                                <br />
                                <div class="pull-right">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ productUrl(orderItem.product) }}"
                                       class="btn btn-primary btn-sm facebook-share"
                                       target="_blank">
                                        <i class="fa fa-share"></i> Share on Facebook
                                    </a>
                                </div>
                                <div class="clearfix"></div><br />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% embed 'helper/recommended_products.twig' with {'products': recommendedProducts, 'size': 'small'} only %}{% endembed %}
    </div>
{% endblock %}
