{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}
{# @var user \inklabs\kommerce\EntityDTO\UserDTO #}
{# @var months array #}
{# @var years array #}

{# @var array $shipping #}
{# @var array $creditCard #}
{# @var array $states #}

{% extends "layout/base-checkout.twig" %}

{% block pageTitle %}Checkout{% endblock %}

{% block content %}
    <div id="checkout">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Order Summary</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">Item</th>
                            <th class="cart-right">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cartItem in cart.cartItems %}
                            <tr>
                                <td class="cart-product-image">
                                    <a href="{{ productUrl(cartItem.product) }}">
                                        <img src="{{ cartItem.product.defaultImage }}" width="110" height="110" />
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ productUrl(cartItem.product) }}">
                                        <span class="cart-product-title">{{ cartItem.product.name }}</span>
                                    </a>

                                    <div class="hidden-sm">
                                        <span class="sku">{{ cartItem.product.sku }}</span>
                                    </div>

                                    <div class="cart-unit-price">
                                        <span class="hidden-sm">Unit Price:</span>
                                        {% embed "helper/unit_price.twig" with {'price': cartItem.price } only %}{% endembed %}
                                    </div>

                                    <div class="cart-qty">
                                        <span class="hidden-sm">Quantity: {{ cartItem.quantity }}</span>
                                        <span class="visible-sm">{{ cartItem.quantity }}</span>
                                    </div>

                                    {#
                                        <?php if (
                                                    ! empty($cartItem->cartItemOptionProducts)
                                        OR ! empty($cartItem->cartItemOptionValues)
                                        OR ! empty($cartItem->cartItemTextOptionValues)
                                        ) { ?>
                                        <hr class="small-margin" />
                                        <?php } ?>

                                        <div>
                                            <?php foreach ($cartItem->cartItemOptionProducts as $cartItemOptionProduct) { ?>
                                            <small>
                                                            <span class="hidden-sm hidden-xs">
                                                                <?=HTML::chars($cartItemOptionProduct->optionProduct->option->name)?>:
                                                            </span>
                                                            <span class="text-muted">
                                                                <?=HTML::chars($cartItemOptionProduct->optionProduct->product->name)?>
                                                            </span>
                                                <br>
                                            </small>
                                            <?php } ?>
                                        </div>

                                        <div>
                                            <?php foreach ($cartItem->cartItemOptionValues as $cartItemOptionValue) { ?>
                                            <small>
                                                            <span class="hidden-sm hidden-xs">
                                                                <?=HTML::chars($cartItemOptionValue->optionValue->option->name)?>:
                                                            </span>
                                                            <span class="text-muted">
                                                                <?=HTML::chars($cartItemOptionValue->optionValue->name)?>
                                                            </span>
                                                <br>
                                            </small>
                                            <?php } ?>
                                        </div>

                                        <div>
                                            <?php foreach ($cartItem->cartItemTextOptionValues as $cartItemTextOptionValue) { ?>
                                            <small>
                                                            <span class="hidden-sm hidden-xs">
                                                                <?=HTML::chars($cartItemTextOptionValue->textOption->name)?>:
                                                            </span>
                                                            <span class="text-muted">
                                                                <?=HTML::chars($cartItemTextOptionValue->textOptionValue)?>
                                                            </span>
                                                <br>
                                            </small>
                                            <?php } ?>
                                        </div>
                                    #}
                                </td>
                                <td class="cart-right">
                                    {{ cartItem.price.quantityPrice | displayPrice }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="totals_container">
                        {% embed "cart/parts/totals.twig" %}{% endembed %}
                    </div>
                    {% if cart.shipmentRate.deliveryMethod is not null %}
                        {# TODO:
                            <?=View::factory('cart/modify_zipcode_button')->set('class', 'btn btn-default btn-sm')->render()?>
                        #}
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <form action="/checkout/pay" method="post" id="main-form" class="form" role="form">
                        <input type="hidden" name="_token" value="{{ CSRF_TOKEN }}">

                        {% if user is defined %}
                            <input type="hidden" name="shipping[userId]" value="{{ user.id }}" id="user_id">
                        {% endif %}

                        <h2>Shipping</h2>
                        <div class="well">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="shipping-firstName" class="control-label">First Name</label>
                                    <input type="text"
                                           name="shipping[firstName]"
                                           value="{{ shipping['firstName'] }}"
                                           id="shipping-firstName"
                                           class="form-control"
                                           required=""
                                           autofocus="">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="shipping-lastName" class="control-label">Last Name</label>
                                    <input type="text"
                                           name="shipping[lastName]"
                                           value="{{ shipping['lastName'] }}"
                                           id="shipping-lastName"
                                           class="form-control"
                                           required="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="shipping-company" class="control-label">Company Name <small class="text-muted">(optional)</small></label>
                                    <input type="text"
                                           name="shipping[company]"
                                           value="{{ shipping['company'] }}"
                                           id="shipping-company"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="shipping-address1" class="control-label">Street Address</label>
                                    <input type="text"
                                           name="shipping[address1]"
                                           value="{{ shipping['address1'] }}"
                                           id="shipping-address1"
                                           class="form-control"
                                           required="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="shipping-address2" class="control-label">Street Address 2 <small class="text-muted">(optional)</small></label>
                                    <input type="text"
                                           name="shipping[address2]"
                                           value="{{ shipping['address2'] }}"
                                           id="shipping-address2"
                                           class="form-control"">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="radio-inline">
                                        <?=Form::checkbox('shipping[isResidential]', NULL, (bool) Arr::get($shipping, 'isResidential', true), [
                                                'id' => 'shipping-isResidential',
                                        ])?>
                                        Residential Address?
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="shipping-city" class="control-label">City</label>
                                    <input type="text"
                                           name="shipping[city]"
                                           value="{{ shipping['city'] }}"
                                           id="shipping-city"
                                           class="form-control"
                                           required="">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="shipping-state" class="control-label">State</label>
                                    <input type="text"
                                           name="shipping[state]"
                                           value="{{ shipping['state'] }}"
                                           id="shipping-state"
                                           class="form-control"
                                           required="">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="shipping-zip5" class="control-label">Zipcode</label>
                                    <input type="text"
                                           name="shipping[zip5]"
                                           value="{{ shipping['zip5'] }}"
                                           id="shipping-zip5"
                                           class="form-control"
                                           required="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="shipping-phone" class="control-label">Phone Number</label>
                                    <input type="text"
                                           name="shipping[phone]"
                                           value="{{ shipping['phone'] }}"
                                           id="shipping-phone"
                                           class="form-control"
                                           required="">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="shipping-email" class="control-label">Email Address</label>
                                    <input type="email"
                                           name="shipping[email]"
                                           value="{{ shipping['email'] }}"
                                           id="shipping-email"
                                           class="form-control"
                                           required="">
                                </div>
                            </div>
                        </div>

                        {% if cart.cartTotal.total > 0 %}
                            <h2>Billing</h2>
                            <div class="well" id="billing-well">
                                <span class="payment-errors"></span>
                                <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label for="creditCard-name" class="control-label">Name on Card</label>
                                        <input type="text"
                                               name="creditCard[name]"
                                               value="{{ creditCard['name'] }}"
                                               id="creditCard-name"
                                               class="form-control"
                                               required="">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="creditCard-zip5" class="control-label">Zipcode</label>
                                        <input type="text"
                                               name="creditCard[zip5]"
                                               value="{{ creditCard['zip5'] }}"
                                               id="creditCard-zip5"
                                               class="form-control"
                                               required="">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-9">
                                        <label for="creditCard-number" class="control-label">Card Number</label>
                                        <input type="text"
                                               name="creditCard[number]"
                                               value="{{ creditCard['number'] }}"
                                               size="20"
                                               id="creditCard-number"
                                               class="form-control"
                                               required="">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="creditCard-cvc" class="control-label">CVC</label>
                                        <input type="text"
                                               name="creditCard[cvc]"
                                               value="{{ creditCard['cvc'] }}"
                                               size="4"
                                               id="creditCard-cvc"
                                               class="form-control"
                                               required="">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        <label for="creditCard-expirationMonth" class="control-label">Expires</label>
                                        <select name="creditCard[expirationMonth]"
                                                id="'creditCard-expirationMonth"
                                                class="form-control"
                                                required="">
                                            {% for key,val in months %}
                                                <option value="{{ key }}" {{ creditCard.expirationMonth == val ? ' selected' : ''}}>{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="creditCard-expirationYear" class="control-label">&nbsp;</label>
                                        <select name="creditCard[expirationYear]"
                                                id="'creditCard-expirationYear"
                                                class="form-control"
                                                required="">
                                            {% for key,val in years %}
                                                <option value="{{ key }}" {{ creditCard.expirationYear == val ? ' selected' : ''}}>{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span6" id="accepted-cards">
                                        <img src="/asset/kohana-kommerce/img/cards.png" width="180" height="24" style="width: 180px; height: 24px;" alt="Credit cards accepted: Visa, Mastercard, American Express, Discover" />
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <button class="btn btn-primary btn-lg pull-left" type="submit" data-loading-text="Loading...">
                            <i class="fa fa-lock"></i> Place your order
                        </button>
                        <div class="pull-right">
                            {% embed "helper/secure_logos.twig" only %}{% endembed %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
