{# @var cartPriceRule \inklabs\kommerce\EntityDTO\CartPriceRuleDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Cart Price Rule Items - {{ cartPriceRule.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@theme/admin/promotion/cart-price-rule/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <br>
                <div class="well well-sm">
                    <div class="fluid-control-group">
                        {% for cartPriceRuleItem in cartPriceRule.cartPriceRuleItems %}
                            <div class="row">
                                {% if cartPriceRuleItem.product is defined %}

                                    <div class="col-sm-6">
                                        <span class="text-muted">[Product]</span>
                                        {{ cartPriceRuleItem.product.name }}
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="text-muted">Quantity:</span>
                                        {{ cartPriceRuleItem.quantity }}
                                    </div>

                                    <form action="{{ routeUrl('admin.cart-price-rule.item.delete') }}"
                                          method="post"
                                          class="form">
                                        {{ form.csrf() }}
                                        {{ form.hidden('cartPriceRuleId', cartPriceRule.id.hex) }}
                                        {{ form.hidden('cartPriceRuleItemId', cartPriceRuleItem.id.hex) }}

                                        <div class="form-group col-sm-4 text-right">
                                            <button type="submit" name="action" value="delete" class="button alert" title="Delete Cart Price Rule Item"><i class="fa fa-remove"></i></button>
                                        </div>
                                    </form>
                                {% elseif cartPriceRuleItem.tag is defined %}
                                    <div class="col-sm-6">
                                        <span class="text-muted">[Tag]</span>
                                        {{ cartPriceRuleItem.tag.name }}
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="text-muted">Quantity:</span>
                                        {{ cartPriceRuleItem.quantity }}
                                    </div>
                                    <form action="{{ routeUrl('admin.cart-price-rule.item.delete') }}"
                                          method="post"
                                          class="form">
                                        {{ form.csrf() }}
                                        {{ form.hidden('cartPriceRuleId', cartPriceRule.id.hex) }}
                                        {{ form.hidden('cartPriceRuleItemId', cartPriceRuleItem.id.hex) }}

                                        <div class="form-group col-sm-4 text-right">
                                            <button type="submit" name="action" value="delete" class="button alert" title="Delete Cart Price Rule Item"><i class="fa fa-remove"></i></button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <h3>Add Cart Price Rule Product Item:</h3>
                    <div class="row">
                        <form action="{{ routeUrl('admin.cart-price-rule.item.new-product') }}"
                              method="post"
                              class="form">
                            {{ form.csrf() }}
                            {{ form.hidden('cartPriceRuleId', cartPriceRule.id.hex) }}

                            {% include '@theme/admin/promotion/cart-price-rule/parts/product-item-input-fields.twig' %}

                            <div class="form-group col-sm-2">
                                <br>
                                <button type="submit" class="button" title="Add Cart Price Rule Product Item">
                                    <i class="fa fa-check-circle"></i>
                                    Create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="well well-sm">
                    <h3>Add Cart Price Rule Tag Item:</h3>
                    <div class="row">
                        <form action="{{ routeUrl('admin.cart-price-rule.item.new-tag') }}"
                              method="post"
                              class="form">
                            {{ form.csrf() }}
                            {{ form.hidden('cartPriceRuleId', cartPriceRule.id.hex) }}

                            {% include '@theme/admin/promotion/cart-price-rule/parts/tag-item-input-fields.twig' %}

                            <div class="form-group col-sm-2">
                                <br>
                                <button type="submit" class="button" title="Add Cart Price Rule Tag Item">
                                    <i class="fa fa-check-circle"></i>
                                    Create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
