{# @var warehouse \inklabs\kommerce\EntityDTO\WarehouseDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Warehouse Inventory Locations - {{ warehouse.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@admin/warehouse/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <br>
                {% embed '@admin/warehouse/parts/inventory-location-list.twig' with {'inventoryLocations': warehouse.inventoryLocations} %}
                    {% block thead %}
                        <th class="text-right">Actions</th>
                    {% endblock %}
                    {% block tbody %}
                        <td class="text-right">
                            <a href="{{ routeUrl('admin.warehouse.inventory-location.edit', {'inventoryLocationId': inventoryLocation.id.hex}) }}"
                               class="btn btn-default btn-xs edit-inventory-location">
                                Edit
                            </a>
                            <a href="{{ routeUrl('admin.warehouse.inventory-location.products', {'inventoryLocationId': inventoryLocation.id.hex}) }}"
                               class="btn btn-default btn-xs">
                                Products
                            </a>
                            <form action="{{ routeUrl('admin.warehouse.remove-inventory-location') }}"
                                  method="post"
                                  class="form pull-right delete-inventory-location">
                                {{ form.csrf() }}
                                {{ form.hidden('warehouseId', warehouse.id.hex) }}
                                {{ form.hidden('inventoryLocationId', inventoryLocation.id.hex) }}

                                <button type="submit" class="btn btn-danger btn-xs" title="Remove Inventory Location"><i class="fa fa-minus"></i></button>
                            </form>
                        </td>
                    {% endblock %}
                {% endembed %}

                <hr>
                <h4>Add Inventory Location:</h4>
                <form action="{{ routeUrl('admin.warehouse.add-inventory-location') }}"
                      method="post"
                      class="form-horizontal">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('warehouseId', warehouse.id.hex) }}

                        <div class="well">
                            {% include '@admin/warehouse/inventory-location/parts/inventory-location-input-fields.twig' %}
                        </div>

                        <div class="well">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
