{# @var warehouse \inklabs\kommerce\EntityDTO\WarehouseDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Warehouse Inventory Locations - {{ warehouse.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@admin/warehouse/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <br>

                {% embed '@admin/warehouse/parts/inventory-location-list.twig' with {'inventoryLocations': warehouse.inventoryLocations} %}
                    {% block thead %}
                        <th class="text-right">Actions</th>
                    {% endblock %}
                    {% block tbody %}
                        <td>
                            <form action="{{ routeUrl('admin.warehouse.remove-inventory-location') }}"
                                  method="post"
                                  class="form pull-right">
                                {{ form.csrf() }}
                                {{ form.hidden('warehouseId', warehouse.id.hex) }}
                                {{ form.hidden('inventoryLocationId', inventoryLocation.id.hex) }}

                                <button type="submit" class="btn btn-danger btn-xs" title="Remove Inventory Location"><i class="fa fa-minus"></i></button>
                            </form>
                        </td>
                    {% endblock %}
                {% endembed %}

                <hr>

                <h4>Add Inventory Location:</h4>
                <form action="{{ routeUrl('admin.warehouse.add-inventory-location') }}"
                      method="post"
                      class="form-horizontal">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('warehouseId', warehouse.id.hex) }}

                        <div class="well">
                            <div class="row form-group">
                                <label for="inventoryLocation-name" class="control-label col-sm-3">Name</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           id="inventoryLocation-name"
                                           name="inventoryLocation[name]"
                                           value=""
                                           class="form-control col-sm-3"
                                           maxlength="255"
                                           required=""/>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="inventoryLocation-code" class="control-label col-sm-3">Code</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           id="inventoryLocation-code"
                                           name="inventoryLocation[code]"
                                           value=""
                                           class="form-control col-sm-3"
                                           maxlength="64"/>
                                </div>
                            </div>
                        </div>

                        <div class="well">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
