{# @var tag \inklabs\kommerce\EntityDTO\TagDTO #}

<div class="row">
    <div class="col-sm-6">
        {% if tag.defaultImage is not null %}
            <img src="{{ tagImageUrl(tag) }}"
                 width="35"
                 height="35"
                 style="margin: 0 10px"/>
        {% endif %}
        Tag - {{ tag.name }}
        <br>
        <br>
    </div>

    <div class="col-sm-6">
        <div class="well well-sm">
            <div class="pull-right">
                <form action="{{ routeUrl('admin.tag.delete') }}"
                      method="post"
                      role="form">
                    {{ form.csrf() }}
                    {{ form.hidden('tagId', tag.id.getHex()) }}

                    <button type="submit" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash"></i>
                        Delete Tag
                    </button>
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
