<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    <div class="title-bar-title">
        {{ SITE_NAME | default('Kommerce') }} | Admin
    </div>
</div>

<div class="top-bar" id="example-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
                {#<a href="{{ routeUrl('home') }}">{{ SITE_NAME | default('Kommerce') }} | Admin</a>#}
                {{ SITE_NAME | default('Kommerce') }} | Admin
            </li>
            <li><a href="{{ routeUrl('admin.order') }}">Orders</a></li>
            <li><a href="{{ routeUrl('admin.user') }}">Customers</a></li>
            <li>
                <a href="#">Catalog</a>
                <ul class="menu vertical">
                    <li><a href="{{ routeUrl('admin.product') }}">Products</a></li>
                    <li><a href="{{ routeUrl('admin.tag') }}">Tags</a></li>
                    <li><a href="{{ routeUrl('admin.option') }}">Options</a></li>
                    <li><a href="{{ routeUrl('admin.attribute') }}">Attributes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Promotions</a>
                <ul class="menu vertical">
                    <li><a href="{{ routeUrl('admin.coupon') }}">Coupons</a></li>
                    <li><a href="{{ routeUrl('admin.catalog-promotion') }}">Catalog Promotions</a></li>
                    <li><a href="{{ routeUrl('admin.cart-price-rule') }}">Cart Price Rules</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Settings</a>
                <ul class="menu vertical">
                    <li><a href="{{ routeUrl('admin.settings.sales-tax') }}">Sales Tax Rules</a></li>
                    {#<li><a href="{{ routeUrl('admin.settings.store') }}">Store Configuration</a></li>#}
                </ul>
            </li>
            <li>
                <a href="#">Tools</a>
                <ul class="menu vertical">
                    <li><a href="{{ routeUrl('admin.tools.ad-hoc-shipment') }}">Ad Hoc Shipments</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu">
            <li><a href="{{ routeUrl('home') }}">Store Front</a></li>
            <li>
                <form action="{{ routeUrl('admin.logout') }}"
                      method="post">
                    {{ form.csrf() }}
                    <button type="submit" class="btn btn-link">Sign Out</button>
                </form>
            </li>
        </ul>
    </div>
</div>
