{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Product - {{ product.name }}{% endblock %}

{% block content %}

        {% include '@theme/admin/product/parts/header.twig' %}

        <div class="row column">
                <form action="{{ routeUrl('admin.product.edit.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('productId', product.id.hex ) }}
                        <div class="callout">
                            {% include '@theme/admin/product/parts/product-intput-fields.twig' %}
                        </div>

                        <div class="callout">
                            <p title="Created">{{ product.createdFormatted }}</p>
                            <p title="Updated">{{ product.updatedFormatted }}</p>

                            <div>
                                <button type="submit" class="button" data-loading-text="Saving...">
                                    <i class="fa fa-check-circle"></i> Save
                                </button>
                                <a href="{{ routeUrl('admin.product') }}" class="button warning">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
        </div>
{% endblock %}
