{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Product - {{ product.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@theme/admin/product/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <form action="{{ routeUrl('admin.product.edit.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('productId', product.id.hex ) }}
                        <div class="well">
                            {% include '@theme/admin/product/parts/product-intput-fields.twig' %}
                        </div>

                        <div class="well">
                            <div class="pull-right text-muted text-right">
                                <span title="Created">{{ product.createdFormatted }}</span><br>
                                <span title="Updated">{{ product.updatedFormatted }}</span><br>
                            </div>

                            <button type="submit" class="btn btn-primary" data-loading-text="Saving...">
                                <i class="fa fa-check-circle"></i> Save
                            </button>
                            <a href="{{ routeUrl('admin.product') }}" class="btn btn-default">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
