{# @var productAttributes \inklabs\kommerce\EntityDTO\ProductAttributeDTO[] #}
<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Product Name</th>
            <th>Attribute Value Name</th>
            <th>Attribute Value SKU</th>
            <th>Attribute Value Description</th>
            {% block thead %}{% endblock %}
        </tr>
    </thead>
    <tbody>
        {% for productAttribute in productAttributes %}
            <tr>
                <td>
                    <img src="{{ productImageUrl(productAttribute.product) }}"
                         width="50"
                         height="50"
                         style="width: 50px; height: 50px;">
                </td>
                <td>{{ productAttribute.product.name }}</td>
                <td>{{ productAttribute.attributeValue.name}}</td>
                <td>{{ productAttribute.attributeValue.sku }}</td>
                <td>{{ productAttribute.attributeValue.description|truncate(60) }}</td>
                {% block tbody %}{% endblock %}
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">
                    <span class="text-muted">No attribute values.</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
