<div class="form-group col-sm-3">
    <label for="taxRate-{{ taxRate.id.hex }}-rate" class="control-label">Rate</label>
    <div class="input-group">
        <input type="text"
               id="taxRate-{{ taxRate.id.hex }}-rate"
               name="taxRate[rate]"
               value="{{ taxRate.rate|floatPercent('') }}"
               class="form-control"
               maxlength="5"
               required=""/>
        <span class="input-group-addon">%</span>
    </div>
</div>

<div class="form-group col-sm-3">
    <label for="taxRate-{{ taxRate.id.hex }}-applyToShipping" class="control-label">Apply to Shipping</label>
    <div class="clearfix"></div>
    {{ form.checkbox(
        'taxRate[applyToShipping]',
        taxRate.applyToShipping,
        'taxRate-' ~ taxRate.id.hex ~ '-applyToShipping'
    ) }}
</div>
