{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}
{# @var cartItem \inklabs\kommerce\EntityDTO\CartItemDTO #}
{# @var recommendedProducts \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{% extends "layout/base.twig" %}

{% block pageTitle %}{{ cartItem.product.name }}{% endblock %}

{% block content %}
    <a href="{{ productUrl(cartItem.product) }}">
        <img src="{{ cartItem.product.defaultImage }}" width="110" height="110"/>
    </a>

    <h2>
        <a href="{{ productUrl(cartItem.product) }}">{{ cartItem.product.name }}</a>
    </h2>

    <div>
        {% embed "helper/rating_stars.twig" with {'rating': cartItem.product.rating } only %}{% endembed %}
    </div>

    <p>Quantity in cart: {{ cartItem.quantity }}</p>

    <div>
        {% embed "helper/price.twig" with {'price': cartItem.price } only %}{% endembed %}
    </div>

    <a href="/cart">View Cart</a>

    <div>
        {% embed "helper/checkout_button.twig" only %}{% endembed %}
    </div>

    <p>Order subtotal:</p>
    <p>{{ cart.cartTotal.subtotal | displayPrice }}</p>
    <p>{{ cart.totalItems }}</p>

    {% trans %}
    <p>item in your Cart</p>
    {% plural cart.totalItems %}
    <p>items in your Cart</p>
    {% endtrans %}

    {% embed "helper/recommended_products.twig" with {'products': recommendedProducts } only %}
        {% block title %}Recommended for you{% endblock %}
    {% endembed %}

{% endblock %}
