{# @var orderItem \inklabs\kommerce\EntityDTO\OrderItemDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Upload Attachment - Order #{{ order.referenceNumber }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Upload Attachment to Order Item</h1>

                <div class="well well-sm">
                    <div class="form-group">
                        <form action="{{ routeUrl('user.attachment.createForOrderItem.post') }}"
                              method="post"
                              class="form"
                              enctype="multipart/form-data">
                            {{ form.csrf() }}
                            {{ form.hidden('orderItemId', orderItem.id.hex) }}

                            <input type="file" name="image">
                            <button type="submit" class="button"><i class="fa fa-upload"></i> Upload</button>
                        </form>
                    </div>
                </div>

                <hr />

                <h2>Order Item:</h2>
                <div style="width: 75px">
                    {% if orderItem.product is not null %}
                        <img src="{{ productImageUrl(orderItem.product) }}"/>
                    {% endif %}
                </div>
                <div>
                    {% if orderItem.product is not null %}
                       <a href="{{ productUrl(orderItem.product) }}">
                           {{ orderItem.name }}
                       </a>
                    {% else %}
                        {{ orderItem.name | nl2br }}
                    {% endif %}
                    <span class="small text-muted">{{ orderItem.sku }}</span><br>

                    {% include '@theme/helper/order-item-options.twig' %}

                </div>
                <div>QTY: {{ orderItem.quantity }}</div>
                <div>{{ orderItem.price.quantityPrice | displayPrice }}</div>
                <h3>Attachments:</h3>
                {% for attachment in orderItem.attachments %}
                    <img src="{{ attachmentImageUrl(attachment) }}" style="max-height: 150px" />
                {% else %}
                    <div class="text-muted">
                        no attachments
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
