{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{# @var relatedProducts \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{% extends "layout/base.twig" %}

{% block pageTitle %}{{ product.name }}{% endblock %}
{% block pageDescription %}{{ product.description | nl2br }}{% endblock %}

{% block content %}

    <h3>{{ product.name | default('Product Name Not Found') }}</h3>
    {% if product.description is not empty %}
    <dl>
        <dt>Description</dt>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
        <dd>{{ product.description | nl2br }}</dd>
    </dl>
    {% endif %}
    <p>{{ product.description }}</p>

{% endblock %}
