{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{% extends 'layout/base-admin.twig' %}

{% block pageTitle %}Product - {{ product.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include 'admin/product/product-header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <form action="{{ routeUrl('admin.product.edit.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        <div class="well">
                            <h2>Required:</h2>

                            <div class="row form-group">
                                <label for="product-name" class="control-label col-sm-3">Name</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           id="product-name"
                                           name="product[name]"
                                           value="{{ product.name }}"
                                           class="form-control col-sm-3"
                                           maxlength="255"
                                           required=""/>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="product-unitPrice" class="control-label col-sm-3">Unit Price</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text"
                                               id="product-unitPrice"
                                               name="product[unitPrice]"
                                               value="{{ product.unitPrice | floatPrice }}"
                                               class="form-control"
                                               required=""/>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="product-quantity" class="control-label col-sm-3">Quantity</label>
                                <div class="col-sm-2">
                                    <input type="text"
                                           id="product-quantity"
                                           name="product[quantity]"
                                           value="{{ product.quantity }}"
                                           class="form-control"
                                           required=""/>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="product-isInventoryRequired" class="control-label col-sm-3">
                                    Is Inventory Required
                                </label>
                                {{ form.checkbox(
                                    'product[isInventoryRequired]',
                                    product.isInventoryRequired,
                                    'product-isInventoryRequired'
                                ) }}
                            </div>

                            <div class="row form-group">
                                <label for="product-isPriceVisible" class="control-label col-sm-3">
                                    Is Price Visible
                                </label>
                                {{ form.checkbox(
                                    'product[isPriceVisible]',
                                    product.isPriceVisible,
                                    'product-isPriceVisible'
                                ) }}
                            </div>

                            <div class="row form-group">
                                <label for="product-isActive" class="control-label col-sm-3">Is Active</label>
                                {{ form.checkbox(
                                    'product[isActive]',
                                    product.isActive,
                                    'product-isActive'
                                ) }}
                            </div>

                            <div class="row form-group">
                                <label for="product-isVisible" class="control-label col-sm-3">Is Visible</label>
                                {{ form.checkbox(
                                    'product[isVisible]',
                                    product.isVisible,
                                    'product-isVisible'
                                ) }}
                            </div>

                            <div class="row form-group">
                                <label for="product-isTaxable" class="control-label col-sm-3">Is Taxable</label>
                                {{ form.checkbox(
                                    'product[isTaxable]',
                                    product.isTaxable,
                                    'product-isTaxable'
                                ) }}
                            </div>

                            <div class="row form-group">
                                <label for="product-isShippable" class="control-label col-sm-3">Is Shippable</label>
                                {{ form.checkbox(
                                    'product[isShippable]',
                                    product.isShippable,
                                    'product-isShippable'
                                ) }}
                            </div>

                            <div class="row form-group">
                                <label for="product-areAttachmentsEnabled" class="control-label col-sm-3">
                                    Are Attachments Enabled
                                </label>
                                {{ form.checkbox(
                                    'product[areAttachmentsEnabled]',
                                    product.areAttachmentsEnabled,
                                    'product-areAttachmentsEnabled'
                                ) }}
                            </div>

                            <hr>
                            <h2>Optional:</h2>

                            <div class="row form-group">
                                <label for="product-sku" class="control-label col-sm-3">SKU</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           id="product-sku"
                                           name="product[sku]"
                                           value="{{ product.sku }}"
                                           class="form-control"
                                           maxlength="64"/>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="product-shippingWeight" class="control-label col-sm-3">
                                    Shipping Weight (oz)
                                </label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           id="product-shippingWeight"
                                           name="product[shippingWeight]"
                                           value="{{ product.shippingWeight }}"
                                           class="form-control"
                                           maxlength="64"/>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="product-description" class="control-label col-sm-3">Description</label>
                                <div class="col-sm-8">
                                    <textarea name="product[description]"
                                              id="product-description"
                                              class="form-control"
                                              rows="5"
                                              maxlength="65535">
                                        {{- product.description -}}
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="well">
                            <button type="submit" class="btn btn-primary" data-loading-text="Saving...">
                                <i class="fa fa-check-circle"></i> Save
                            </button>
                            <a href="{{ routeUrl('admin.product') }}" class="btn btn-default">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
