{# @var stateTaxRates \inklabs\kommerce\EntityDTO\TaxRateDTO[] #}
{# @var zip5TaxRates \inklabs\kommerce\EntityDTO\TaxRateDTO[] #}
{# @var zip5RangeTaxRates \inklabs\kommerce\EntityDTO\TaxRateDTO[] #}
{# @var validStatesMap array #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Settings{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Sales Tax Settings</h1>
                <p>
                    Tax rules have the following precedence order.<br>
                    <span class="badge">1</span> Zipcode<br>
                    <span class="badge">2</span> Zipcode Range<br>
                    <span class="badge">3</span> State
                </p>

                <div class="well well-sm">
                    <h2>Zipcode Rates</h2>
                    <div id="zipcode-rates" class="fluid-control-group">
                        {% for taxRate in zip5TaxRates %}
                            <div class="row">
                                <form action="{{ routeUrl('admin.settings.sales-tax.edit') }}"
                                      method="post"
                                      class="form">
                                    {{ form.csrf() }}
                                    {{ form.hidden('taxRateId', taxRate.id.hex) }}

                                    {% include '@theme/admin/settings/sales-tax/parts/zip5-tax-rate-input-fields.twig' %}

                                    <div class="form-group col-sm-2">
                                        <br>
                                        <button type="submit" name="action" value="delete" class="btn btn-danger btn-xs pull-right" title="Delete Tax Rate"><i class="fa fa-remove"></i></button>
                                        <button type="submit" name="action" value="edit" class="btn btn-default btn-xs pull-right" title="Edit Tax Rate">Update</button>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}

                        <hr>
                        <h3>Add Tax Rate:</h3>
                        <div class="row">
                            <form action="{{ routeUrl('admin.settings.sales-tax.new') }}"
                                  method="post"
                                  class="form">
                                {{ form.csrf() }}
                                {{ form.hidden('taxRateId', taxRate.id.hex) }}

                                {% include '@theme/admin/settings/sales-tax/parts/zip5-tax-rate-input-fields.twig' %}

                                <div class="form-group col-sm-2">
                                    <br>
                                    <button type="submit" class="btn btn-default btn-xs pull-right" title="Add Tax Rate">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <h2>Zipcode Range Rates</h2>
                    <div id="zipcode-rates" class="fluid-control-group">
                        {% for taxRate in zip5RangeTaxRates %}
                            <div class="row">
                                <form action="{{ routeUrl('admin.settings.sales-tax.edit') }}"
                                      method="post"
                                      class="form">
                                    {{ form.csrf() }}
                                    {{ form.hidden('taxRateId', taxRate.id.hex) }}

                                    {% include '@theme/admin/settings/sales-tax/parts/zip5-range-tax-rate-input-fields.twig' %}

                                    <div class="form-group col-sm-2">
                                        <br>
                                        <button type="submit" name="action" value="delete" class="btn btn-danger btn-xs pull-right" title="Delete Tax Rate"><i class="fa fa-remove"></i></button>
                                        <button type="submit" name="action" value="edit" class="btn btn-default btn-xs pull-right" title="Edit Tax Rate">Update</button>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}

                        <hr>
                        <h3>Add Tax Rate:</h3>
                        <div class="row">
                            <form action="{{ routeUrl('admin.settings.sales-tax.new') }}"
                                  method="post"
                                  class="form">
                                {{ form.csrf() }}
                                {{ form.hidden('taxRateId', taxRate.id.hex) }}

                                {% include '@theme/admin/settings/sales-tax/parts/zip5-range-tax-rate-input-fields.twig' %}

                                <div class="form-group col-sm-2">
                                    <br>
                                    <button type="submit" class="btn btn-default btn-xs pull-right" title="Add Tax Rate">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <hr />
                    <h2>State Rates</h2>
                    <div id="zipcode-rates" class="fluid-control-group">
                        {% for taxRate in stateTaxRates %}
                            <div class="row">
                                <form action="{{ routeUrl('admin.settings.sales-tax.edit') }}"
                                      method="post"
                                      class="form">
                                    {{ form.csrf() }}
                                    {{ form.hidden('taxRateId', taxRate.id.hex) }}

                                    {% include '@theme/admin/settings/sales-tax/parts/state-tax-rate-input-fields.twig' %}

                                    <div class="form-group col-sm-2">
                                        <br>
                                        <button type="submit" name="action" value="delete" class="btn btn-danger btn-xs pull-right" title="Delete Tax Rate"><i class="fa fa-remove"></i></button>
                                        <button type="submit" name="action" value="edit" class="btn btn-default btn-xs pull-right" title="Edit Tax Rate">Update</button>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                        <hr>
                        <h3>Add Tax Rate:</h3>
                        <div class="row">
                            <form action="{{ routeUrl('admin.settings.sales-tax.new') }}"
                                  method="post"
                                  class="form">
                                {{ form.csrf() }}
                                {{ form.hidden('taxRateId', taxRate.id.hex) }}

                                {% include '@theme/admin/settings/sales-tax/parts/state-tax-rate-input-fields.twig' %}

                                <div class="form-group col-sm-2">
                                    <br>
                                    <button type="submit" class="btn btn-default btn-xs pull-right" title="Add Tax Rate">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
