{# @var stateTaxRates \inklabs\kommerce\EntityDTO\TaxRateDTO[] #}
{# @var zip5TaxRates \inklabs\kommerce\EntityDTO\TaxRateDTO[] #}
{# @var zip5RangeTaxRates \inklabs\kommerce\EntityDTO\TaxRateDTO[] #}
{# @var validStatesMap array #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Sales Tax Rules{% endblock %}

{% block content %}
    <div class="container">
        {% include '@theme/admin/settings/sales-tax/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <h1>Sales Tax Rules</h1>
                <p>
                    Tax rules have the following precedence order.<br>
                    <span class="badge">1</span> Zipcode<br>
                    <span class="badge">2</span> Zipcode Range<br>
                    <span class="badge">3</span> State
                </p>

                <hr>
                <h3>Zipcode Rates</h3>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Zipcode</th>
                            <th>Rate</th>
                            <th>Apply to Shipping</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taxRate in zip5TaxRates %}
                            <tr>
                                <td>{{ taxRate.zip5 }}</td>
                                <td>{{ taxRate.rate|floatPercent }}%</td>
                                <td>{{ taxRate.applyToShipping|boolYesNo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <hr>
                <h3>Zipcode Range Rates</h3>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Zipcodes</th>
                            <th>Rate</th>
                            <th>Apply to Shipping</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taxRate in zip5RangeTaxRates %}
                            <tr>
                                <td>{{ taxRate.zip5From }} - {{ taxRate.zip5To }}</td>
                                <td>{{ taxRate.rate|floatPercent }}%</td>
                                <td>{{ taxRate.applyToShipping|boolYesNo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <hr>
                <h3>State Rates</h3>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>State</th>
                            <th>Rate</th>
                            <th>Apply to Shipping</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taxRate in stateTaxRates %}
                            <tr>
                                <td>
                                    {{ validStatesMap[taxRate.state] }}
                                    <span class="text-muted small">({{ taxRate.state }})</span>
                                </td>
                                <td>{{ taxRate.rate|floatPercent }}%</td>
                                <td>{{ taxRate.applyToShipping|boolYesNo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
