{# @var attributeValue \inklabs\kommerce\EntityDTO\AttributeValueDTO #}

<div class="row">
    <div class="col-sm-6">
        Attribute -
        <a href="{{ routeUrl('admin.attribute.attribute-values', {'attributeId': attributeValue.attribute.id.hex}) }}">
            {{ attributeValue.attribute.name }}
        </a>
        <br>
        Attribute Value - {{ attributeValue.name }}
        <br>
        <br>
    </div>

    <div class="col-sm-6">
        <div class="well well-sm">
            <div>
                <form action="{{ routeUrl('admin.attribute.attribute-value.delete') }}"
                      method="post"
                      role="form">
                    {{ form.csrf() }}
                    {{ form.hidden('attributeId', attributeValue.attribute.id.getHex()) }}
                    {{ form.hidden('attributeValueId', attributeValue.id.getHex()) }}

                    <button type="submit" class="button alert">
                        <i class="fa fa-trash"></i>
                        Delete Attribute Value
                    </button>
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
