{# @var attribute \inklabs\kommerce\EntityDTO\AttributeDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Attribute - {{ attribute.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@admin/attribute/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <form action="{{ routeUrl('admin.attribute.edit.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('attributeId', attribute.id.hex ) }}
                        <div class="well">
                            {% include '@admin/attribute/parts/attribute-intput-fields.twig' %}
                        </div>

                        <div class="well">
                            <div class="text-muted text-right">
                                <span title="Created">{{ attribute.createdFormatted }}</span><br>
                                <span title="Updated">{{ attribute.updatedFormatted }}</span><br>
                            </div>

                            <button type="submit" class="button" data-loading-text="Saving...">
                                <i class="fa fa-check-circle"></i> Save
                            </button>
                            <a href="{{ routeUrl('admin.attribute') }}" class="button secondary">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
