{# @var coupons \inklabs\kommerce\EntityDTO\CouponDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{# @var queryString string #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Coupons{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="{{ routeUrl('admin.coupon.new') }}"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle"></i> New Coupon
                    </a>
                </div>

                <h1>Coupons</h1>
                <form action="{{ routeUrl('admin.coupon') }}"
                      method="get"
                      class="form-search">
                    {% embed '@theme/helper/search-bar.twig' with {'placeholder': 'Search Name', 'queryString': queryString} only %}{% endembed %}
                </form>

                {{ paginate.detailed(pagination) }}

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Discount</th>
                            <th>Redemptions</th>
                            <th>Min Order</th>
                            <th>Max Order</th>
                            <th>Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupons %}
                            <tr>
                                <td>
                                    <a href="{{ adminCouponUrl(coupon) }}">
                                        {{ coupon.code }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ adminCouponUrl(coupon) }}">
                                        {{ coupon.name }}
                                    </a>
                                </td>
                                <td>{{ coupon | displayPromotionValue }}</td>
                                <td>
                                    {{ coupon.redemptions }} of
                                    {% if coupon.maxRedemptions is null %}
                                        <span class="text-muted small">[unlimited]</span>
                                    {% else %}
                                        {{ coupon.maxRedemptions }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if coupon.minOrderValue is null %}
                                        <span class="text-muted small">[no minimum]</span>
                                    {% else %}
                                        {{ coupon.minOrderValue | displayPrice }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if coupon.maxOrderValue is null %}
                                        <span class="text-muted small">[no maximum]</span>
                                    {% else %}
                                        {{ coupon.maxOrderValue | displayPrice }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ coupon.start | formatDate }}
                                    -
                                    {{ coupon.end | formatDate }}
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="100%">No coupons</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ paginate.detailed(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
