{# @var tag \inklabs\kommerce\EntityDTO\TagDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Tag - {{ tag.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@theme/admin/tag/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <form action="{{ routeUrl('admin.tag.edit.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('tagId', tag.id.hex ) }}

                        <div class="well">
                            {% include '@theme/admin/tag/parts/tag-intput-fields.twig' %}
                        </div>

                        <div class="well">
                            <div class="text-muted text-right">
                                <span title="Created">{{ tag.createdFormatted }}</span><br>
                                <span title="Updated">{{ tag.updatedFormatted }}</span><br>
                            </div>

                            <button type="submit" class="button" data-loading-text="Saving...">
                                <i class="fa fa-check-circle"></i> Save
                            </button>
                            <a href="{{ routeUrl('admin.tag') }}" class="button secondary">Cancel</a>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
