{% if image.path == tag.defaultImage %}
    <div class="label label-primary">Default</div>

    <form action="{{ routeUrl('admin.tag.unset-default-image') }}"
          method="post"
          class="form-inline">
        {{ form.csrf() }}
        {{ form.hidden('tagId', tag.id.hex) }}

        <button type="submit" class="button alert"><i class="fa fa-minus-circle"></i> Unset Default</button>
    </form>
{% else %}
    <form action="{{ routeUrl('admin.tag.set-default-image') }}"
          method="post"
          class="form-inline">
        {{ form.csrf() }}
        {{ form.hidden('tagId', tag.id.hex) }}
        {{ form.hidden('imageId', image.id.hex) }}

        <button type="submit" class="button secondary">Set Default</button>
    </form>
{% endif %}
