{# @var options \inklabs\kommerce\EntityDTO\OptionDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{# @var queryString string #}
{% extends 'layout/base-admin.twig' %}

{% block pageTitle %}Options{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Options</h1>
                <form action="{{ routeUrl('admin.option') }}"
                      method="get"
                      class="form-search">
                    {% embed 'helper/search-bar.twig' with {'placeholder': 'Search Name/Email', 'queryString': queryString} only %}{% endembed %}
                </form>

                {{ paginate.detailed(pagination) }}

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Sort Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for option in options %}
                            <tr>
                                <td><a href="{{ adminOptionUrl(option) }}">{{ option.name }}</a></td>
                                <td>{{ option.description | truncate(60) }}</td>
                                <td>{{ option.sortOrder }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ paginate.detailed(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
