{# @var cartPriceRule \inklabs\kommerce\EntityDTO\CartPriceRuleDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Cart Price Rule Discounts - {{ cartPriceRule.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@theme/admin/promotion/cart-price-rule/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <br>
                <div class="well well-sm">
                    <div class="fluid-control-group">
                        {% for cartPriceRuleDiscount in cartPriceRule.cartPriceRuleDiscounts %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="text-muted">[Product]</span>
                                    {{ cartPriceRuleDiscount.product.name }}
                                </div>
                                <div class="col-sm-2">
                                    <span class="text-muted">Quantity:</span>
                                    {{ cartPriceRuleDiscount.quantity }}
                                </div>

                                <form action="{{ routeUrl('admin.cart-price-rule.discount.delete') }}"
                                      method="post"
                                      class="form">
                                    {{ form.csrf() }}
                                    {{ form.hidden('cartPriceRuleId', cartPriceRule.id.hex) }}
                                    {{ form.hidden('cartPriceRuleDiscountId', cartPriceRuleDiscount.id.hex) }}

                                    <div class="form-group col-sm-4 text-right">
                                        <button type="submit" name="action" value="delete" class="btn btn-danger btn-xs" title="Delete Cart Price Rule Discount"><i class="fa fa-remove"></i></button>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <h3>Add Cart Price Rule Discount:</h3>
                    <div class="row">
                        <form action="{{ routeUrl('admin.cart-price-rule.discount.new') }}"
                              method="post"
                              class="form">
                            {{ form.csrf() }}
                            {{ form.hidden('cartPriceRuleId', cartPriceRule.id.hex) }}

                            {% include '@theme/admin/promotion/cart-price-rule/parts/discount-input-fields.twig' %}

                            <div class="form-group col-sm-2">
                                <br>
                                <button type="submit" class="btn btn-primary btn-sm pull-right" title="Add Cart Price Rule Product Item">
                                    <i class="fa fa-check-circle"></i>
                                    Create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
