{% extends '@store/layout/base.twig' %}

{% block pageTitle %}User Login{% endblock %}

{% block content %}
<div style="height: 100%;">
    <div class="row align-center align-middle">
        <div class="small-10 medium-8 large-6 column">
            <h1>Please Sign In</h1>
            <form action="{{ routeUrl('user.login.post') }}"
                  method="post"
                  id="zk-login"
                  role="form">
                {{ form.csrf() }}

                {% if formRedirect is defined %}
                    {{ form.hidden('redirect', formRedirect) }}
                {% endif %}

                <label for="email">
                    Email Address
                    <input type="email"
                           id="email"
                           name="email"
                           value=""
                           required=""
                           autofocus="">
                </label>

                <label for="password" class="control-label">
                    Password
                    <input type="password"
                           id="password"
                           name="password"
                           value=""
                           required="">
                </label>
                <p class="help-text" id="passwordHelpText">
                    <a href="{{ routeUrl('user.forgot-password') }}?email={{ email|url_encode }}">Forgot your password?</a>
                </p>

                <button type="submit" class="button success">
                    Sign In <i class="fa fa-arrow-circle-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
