{# @var option \inklabs\kommerce\EntityDTO\OptionDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Option Tags - {{ option.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@admin/option/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <br>

                {% embed '@admin/tag/parts/tag-list.twig' with {'tags': option.tags} %}
                    {% block thead %}
                        <th class="text-right">Actions</th>
                    {% endblock %}
                    {% block tbody %}
                        <td>
                            <form action="{{ routeUrl('admin.option.remove-tag') }}"
                                  method="post"
                                  class="form">
                                {{ form.csrf() }}
                                {{ form.hidden('optionId', option.id.hex) }}
                                {{ form.hidden('tagId', tag.id.hex) }}

                                <button type="submit" class="button alert" title="Remove Tag"><i class="fa fa-minus"></i></button>
                            </form>
                        </td>
                    {% endblock %}
                {% endembed %}

                <h4>Add Tag:</h4>
                <form action="{{ routeUrl('admin.option.add-tag') }}"
                      method="post">
                    {{ form.csrf() }}
                    {{ form.hidden('optionId', option.id.hex) }}

                    <div class="input-group col-sm-4">
                        <input type="text"
                               name="tagId"
                               value=""
                               class="form-control typeahead"/>

                        <span class="input-group-btn">
                            <button type="submit" class="button secondary"><i class="fa fa-plus"></i> Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
