{# @var price \inklabs\kommerce\EntityDTO\PriceDTO #}
{# @var discountNames string #}

{% if discountNames is not empty %}
    <span class="price-strike" data-toggle="tooltip" title="{{ discountNames }}">
        {{ price.origUnitPrice | displayPrice }}
    </span>
    <span> </span>
{% elseif price.unitPrice < price.origUnitPrice %}
    {% set promotionNames = [] %}

    {% for catalogPromotion in price.catalogPromotions %}
        {% set promotionNames = promotionNames | merge([catalogPromotion.name])  %}
    {% endfor %}

    {# TODO:
        foreach ($price->productQuantityDiscounts as $productQuantityDiscount) {
            $promotionNames[] = $productQuantityDiscount->name;
        }
    #}
    <span class="price-strike" data-toggle="tooltip" title="{{ promotionNames | join(', ') }}">
        {{ price.origUnitPrice | displayPrice }}
    </span>
    &nbsp;
{% endif %}
<span class="price">{{ price.unitPrice | displayPrice }}</span>
