{# @var shipmentCarrierTypes array #}
{# @var shipmentRates \inklabs\kommerce\EntityDTO\ShipmentRateDTO[] #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Purchase Shipping Label - Order #{{ order.referenceNumber }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Parcel Dimensions</h2>
                <div class="well well-sm">
                    <form action="{{ routeUrl('admin.order.add-shipment-label') }}"
                          method="post"
                          class="form"
                          role="form">
                        {{ form.csrf() }}
                        {{ form.hidden('comment', comment) }}
                        {{ form.hidden('orderId', order.id.getHex()) }}
                        {% for orderItemId, quantity in orderItemQty %}
                            {{ form.hidden('orderItemQty[' ~ orderItemId ~ ']', quantity) }}
                        {% endfor %}

                        {% include '@admin/tools/ad-hoc-shipment/parts/shipment-input-fields.twig' %}
                    <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-block">
                                Get Shipping Rates
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if shipmentRates is iterable %}
            <div class="row">
                <div class="col-sm-12">
                    <h2>Shipping Rates</h2>
                    <div class="well well-sm">
                        <form action="{{ routeUrl('admin.order.buy-shipment-label') }}"
                              method="post"
                              class="form"
                              role="form">
                            {{ form.csrf() }}
                            {{ form.hidden('comment', comment) }}
                            {{ form.hidden('orderId', order.id.getHex()) }}
                            {% for orderItemId, quantity in orderItemQty %}
                                {{ form.hidden('orderItemQty[' ~ orderItemId ~ ']', quantity) }}
                            {% endfor %}
                            {{ form.hidden('shipment[weightLbs]', shipment.weightLbs) }}
                            {{ form.hidden('shipment[length]', shipment.length) }}
                            {{ form.hidden('shipment[width]', shipment.width) }}
                            {{ form.hidden('shipment[height]', shipment.height) }}
                            {{ form.hidden('shipmentExternalId', shipmentRates[0].shipmentExternalId) }}

                            {% for shipmentRate in shipmentRates %}
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="radio-inline">
                                            {{ form.radio(
                                                'shipmentRateExternalId',
                                                shipment.shipmentRateExternalId,
                                                shipmentRate.externalId,
                                                null,
                                                null,
                                                {
                                                    'required': ''
                                                }
                                            ) }}
                                            {{ shipmentRate.rate.amount | displayPrice }}
                                            {{ shipmentRate.service }} ( {{- shipmentRate.carrier -}} )
                                            <br>
                                            <div class="text-muted">
                                                {% if shipmentRate.deliveryDays is not null %}
                                                    <strong>Delivery Days:</strong>
                                                    {{ shipmentRate.deliveryDays }}
                                                    <br>
                                                {% endif %}
                                                {% if shipmentRate.deliveryDate is not null %}
                                                    <strong>Delivery Date:</strong>
                                                    {{ shipmentRate.deliveryDate | formatDate }}
                                                    {% if shipmentRate.isDeliveryDateGuaranteed %}
                                                        <span style="color: green">
                                                            <strong><i class="fa fa-check"></i> Guaranteed</strong>
                                                        </span>
                                                    {% endif %}
                                                    <br>
                                                {% endif %}
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <i class="fa fa-credit-card"></i> Buy Shipping Label
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
