<div class="row form-group">
    <label class="control-label col-sm-3" for="{{ entityName }}-{{ entityAttribute }}Date">{{ label }}</label>
    <div class="col-sm-3">
        <input type="text"
           id="{{ entityName }}-{{ entityAttribute }}-date"
           name="{{ entityName }}[{{ entityAttribute }}][date]"
           placeholder="mm/dd/yyyy"
           value="{{ timestamp|formatInputDate }}"
           class="form-control"/>
    </div>
    <div class="col-sm-2">
        <input type="text"
           id="{{ entityName }}-{{ entityAttribute }}-time"
           name="{{ entityName }}[{{ entityAttribute }}][time]"
           placeholder="ex: 8:30pm"
           value="{{ timestamp|formatInputTime|default(defaultTime) }}"
           class="form-control"/>
    </div>
    <div class="col-sm-4">
        <select name="{{ entityName }}[{{ entityAttribute }}][timezone]" class="form-control input-sm">
            <option value="UTC">(GMT+00:00) UTC Time</option>
            <option value="America/Los_Angeles">(GMT-08:00) Pacific Time</option>
            <option value="Pacific/Honolulu">(GMT-10:00) Hawaii Time</option>
            <option value="America/Anchorage">(GMT-09:00) Alaska Time</option>
            <option value="America/Denver">(GMT-07:00) Mountain Time</option>
            <option value="America/Phoenix">(GMT-07:00) Mountain Time - Arizona</option>
            <option value="America/Chicago">(GMT-06:00) Central Time</option>
            <option value="America/New_York">(GMT-05:00) Eastern Time</option>
        </select>
    </div>
</div>
