{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{# @var relatedProducts \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{% extends "layout/base-alt.twig" %}

{% block title %}{{ product.name }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}

{% block content %}
<div class="row">
    <div class="medium-6 columns">
        <img class="thumbnail" src="{{ product.defaultImage }}">
        {% if product.images is not empty %}
        <div class="row small-up-4">
            {% for image in product.images %}
                {% if image.path != product.defaultImage %}
                    <div class="column">
                        <img class="thumbnail" src="{{ image.pathUrl }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="medium-6 large-5 columns">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>

        <p>{{ product.price.quantityPrice | displayPrice }}</p>

        <label>Size
            <select>
                <option value="husker">Small</option>
                <option value="starbuck">Medium</option>
                <option value="hotdog">Large</option>
                <option value="apollo">Yeti</option>
            </select>
        </label>

        <div class="row">
            <div class="small-3 columns">
                <label for="middle-label" class="middle">Quantity</label>
            </div>
            <div class="small-9 columns">
                <input type="number" id="middle-label" value="1" min="0" max="{{ product.quantity }}">
            </div>
        </div>

        {% if product.isInStock %}
            <a href="#" class="button expanded">Buy Now</a>
        {% endif %}

        <div class="small secondary expanded button-group">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ product.fullUrl }}"
               class="button">Facebook</a>
            <a class="button">Twitter</a>
        </div>
    </div>
</div>

<div class="column row">
    <hr>
    <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#lk-reviews-tab" aria-selected="true">Reviews</a></li>
        {% if relatedProducts is not empty %}
        <li class="tabs-title"><a href="#lk-related-products-tab">Similar Products</a></li>
        {% endif %}
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="lk-reviews-tab">
            <h4>Reviews</h4>
            {# Add 4 dummy reviews #}
            {% for reviews in 0..3 %}
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <img class="thumbnail" src="http://placehold.it/200x200">
                </div>
                <div class="media-object-section">
                    <h5>Mike Stevenson</h5>
                    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                </div>
            </div>
            {% endfor %}

            <label>
                My Review
                <textarea placeholder="None"></textarea>
            </label>
            <button class="button">Submit Review</button>
        </div>

        {% if relatedProducts is not empty %}
            {% embed "helper/product_grid_small-alt.twig" with {'products': relatedProducts, 'lg_slim': true } only %}
            {% endembed %}
        {% endif %}

    </div>
</div>
{% endblock %}
