{# @var inventoryLocation \inklabs\kommerce\EntityDTO\InventoryLocationDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Inventory Location - {{ inventoryLocation.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@admin/warehouse/inventory-location/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <form action="{{ routeUrl('admin.warehouse.inventory-location.edit.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        {{ form.hidden('inventoryLocationId', inventoryLocation.id.hex ) }}
                        <div class="well">
                            {% include '@admin/warehouse/inventory-location/parts/inventory-location-input-fields.twig' %}
                        </div>

                        <div class="well">
                            <div class="pull-right text-muted text-right">
                                <span title="Created">{{ inventoryLocation.createdFormatted }}</span><br>
                                <span title="Updated">{{ inventoryLocation.updatedFormatted }}</span><br>
                            </div>

                            <button type="submit" class="btn btn-primary" data-loading-text="Saving...">
                                <i class="fa fa-check-circle"></i> Save
                            </button>
                            <a href="{{ routeUrl('admin.warehouse.inventory-locations', {'attributeId': inventoryLocation.warehouse.id.hex}) }}" class="btn btn-default">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
