{# @var item \inklabs\kommerce\EntityDTO\ProductDTO #}

<section class="zk-cart-list">
    <header class="zk-cart-list-header">
        <div class="zk-cart-list-product">
            <h4>Item</h4>
        </div>
        <div class="zk-cart-list-quantity">
            <h4>Quantity</h4>
        </div>
        <div class="zk-cart-list-price">
            <h4>Price</h4>
        </div>
    </header>
    {% for item in cartItems %}
    <article class="zk-cart-list-item">
        <section class="zk-cart-list-product zk-cell">
            <header>
                <h4>Item</h4>
            </header>

            <div class="zk-media-object">
                <div class="zk-media-object-section">
                    <div class="thumbnail">
                        <a href="{{ productUrl(item.product) }}">
                            <img src="{{ productImageUrl(item.product) }}">
                        </a>
                    </div>
                </div>
                <div class="zk-media-object-section">
                    <h4 class="zk-cart-list-item-name">
                        <a href="{{ productUrl(item.product) }}">
                            <span class="cart-product-title">{{ item.product.name }}</span>
                        </a>
                    </h4>

                    <p class="zk-cart-list-item-sku">{{ item.fullSku }}</p>

                    {% include '@store/cart/parts/cart-item-options.twig' with {'cartItem': item } only %}

                    <form action="{{ routeUrl('cart.delete-item') }}" method="post" role="form">
                        {{ form.csrf() }}
                        {{ form.hidden('id', item.id.hex) }}
                        <input class="zk-submit-anchor alert small" type="submit" value="Remove Item"/>
                    </form>
                </div>
            </div>

        </section>

        <section class="zk-cart-list-quantity zk-cell">
            <header>
                <h5>Quantity</h5>
            </header>

            <form action="{{ routeUrl('cart.update-quantity') }}" method="post" role="form">
                {{ form.csrf() }}
                {{ form.hidden('id', item.id.hex) }}

                <input class="zk-update-qty" type="text" name="quantity" value="{{ item.quantity }}" size="3" maxlength="3">
            </form>
        </section>

        <section class="zk-cart-list-price zk-cell">
            <header>
                <h5>Price</h5>
            </header>
            <p class="zk-cart-list-item-price">
                {% include '@admin/helper/unit-price.twig' with {'price': item.price } only %}
            </p>
        </section>
    </article>
    {% endfor %}
</section>