{# @var item \inklabs\kommerce\EntityDTO\ProductDTO #}

<section class="zk-cart-list">
    <header class="zk-cart-list-header">
        <div class="zk-cart-list-product">
            <h4>Item</h4>
        </div>
        <div class="zk-cart-list-quantity">
            <h4>Quantity</h4>
        </div>
        <div class="zk-cart-list-price">
            <h4>Unit Price</h4>
        </div>
    </header>
    {% for item in cartItems %}
    <article class="zk-cart-list-item">
        <section class="zk-cart-list-product zk-cell">
            <header>
                <h4>Item</h4>
            </header>

            <div class="zk-media-object">
                <div class="zk-media-object-section">
                    <div class="thumbnail">
                        <a href="{{ productUrl(item.product) }}">
                            <img src="{{ productImageUrl(item.product) }}" width="110" height="110" />
                        </a>
                    </div>
                </div>
                <div class="zk-media-object-section">
                    <h4>
                        <a href="{{ productUrl(item.product) }}">
                            <span class="cart-product-title">{{ item.product.name }}</span>
                        </a>
                    </h4>
                    {% include '@store/cart/parts/cart-item-options.twig' with {'item': item } only %}

                    <div class="hidden-sm text-muted">
                        <small>{{ item.fullSku }}</small>
                    </div>

                    <form action={{ routeUrl('cart.delete-item') }} method="post" role="form">
                        {{ form.csrf() }}
                        {{ form.hidden('id', item.id.hex) }}
                        <input class="zk-submit-anchor" type="submit" value="Remove Item"/>
                    </form>
                </div>
            </div>

        </section>
        {#<div class="zk-cart-list-quantity zk-cell">#}
            {#<header>#}
                {#<h5>Quantity</h5>#}
            {#</header>#}

            {#<form action="{{ routeUrl('cart.update-quantity') }}" method="post" role="form">#}
                {#{{ form.csrf() }}#}
                {#{{ form.hidden('id', item.id.hex) }}#}
                {#<div style="width: 120px">#}

                    {#<div class="input-group">#}
                        {#<input class="zk-update-qty input-group-field" type="text" name="quantity" value="{{ item.quantity }}" size="3" maxlength="3">#}
                        {#<div class="input-group-button">#}
                            {#<input type="submit" class="button" value="Update">#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}
        {#<div class="zk-cart-list-price zk-cell">#}
            {#<header>#}
                {#<h5>Unit Price</h5>#}
            {#</header>#}
            {#<p>{{ item.price.quantityPrice | displayPrice }}</p>#}
            {#<p>{% include '@admin/helper/unit-price.twig' with {'price': item.price } only %}</p>#}
        {#</div>#}
    </article>
    {% endfor %}
</section>