{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}

<div class="zk-cart-totals">
    <div class="zk-totals-row">
        <div class="zk-totals-key">Subtotal ({{ cart.totalQuantity  }} items):</div>
        <div class="zk-totals-value">{{ cart.cartTotal.subtotal | displayPrice }}</div>
    </div>
    <div class="zk-totals-row">
        {% if cart.shipmentRate.deliveryMethod is null %}
            <div class="zk-totals-key">
                Shipping:
            </div>
            <div class="zk-totals-value">
                {% include '@store/cart/parts/modify-shipping-button.twig' %}
            </div>
        {% elseif cart.cartTotal.shipping == 0 %}
            <div class="zk-totals-key">
                Shipping:
            </div>
            <div class="zk-totals-value">
                FREE
            </div>
        {% elseif cart.cartTotal.shipping > 0 %}
            {% set shippingName = cart.shippingAddress.zip5 %}

            {% if cart.shippingAddress.state is not empty %}
                {% set shippingName =  shippingName ~ '-' ~ cart.shippingAddress.state %}
            {% endif %}

            <div class="zk-totals-key">
                {{ shippingName }}
                Shipping &amp; Handling:
                ({{ cart.shipmentRate.deliveryMethod.name }})
            </div>
            <div class="zk-totals-value">
                {{ cart.cartTotal.shipping | displayPrice }}
            </div>
        {% endif %}
    </div>


    {% if cart.cartTotal.coupons is not empty or cart.cartTotal.cartPriceRules is not empty %}
        <div class="zk-totals-row">
            <div class="zk-totals-key">
                Discounts
                {% for cartPriceRule in cart.cartTotal.cartPriceRules %}
                    <i class="fa fa-minus"></i>
                    {{ cartPriceRule.name }}
                {% endfor %}

                {% for coupon in cart.cartTotal.coupons %}
                    <form action="{{ routeUrl('cart.remove-coupon') }}"
                          method="post"
                          role="form">
                        {{ form.csrf() }}
                        {{ form.hidden('couponId', coupon.id.hex) }}

                        <button type="submit" class="button">
                            <i class="fa fa-remove"></i>
                        </button>
                        {{ coupon.name }}
                    </form>
                {% endfor %}
            </div>
            <div class="zk-totals-value">
                ({{ cart.cartTotal.discount | displayPrice }})
            </div>
        </div>
    {% endif %}

    {% if cart.cartTotal.tax is not empty %}
    <div class="zk-totals-row">
        <div class="zk-totals-key">
            Tax:
        </div>
        <div class="zk-totals-value">
            {{ cart.cartTotal.tax | displayPrice }}
        </div>
    </div>
    {% endif %}

    <div class="zk-cart-total-price zk-totals-row">
        <div class="zk-totals-key">
            Total:
        </div>
        <div class="zk-totals-value">
            {{ cart.cartTotal.total | displayPrice }}
        </div>
    </div>
</div>
