{# @var tag \inklabs\kommerce\EntityDTO\TagDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Tag - {{ tag.name }}{% endblock %}

{% block content %}

    {% include '@admin/tag/parts/header.twig' %}

    <div class="row column">
        <form action="{{ routeUrl('admin.tag.edit.post') }}"
                method="post"
                role="form">
            <fieldset>
                {{ form.csrf() }}
                {{ form.hidden('tagId', tag.id.hex ) }}

                <div class="callout">
                    {% include '@admin/tag/parts/tag-input-fields.twig' %}
                </div>

                <div class="callout">
                            <p title="Created">
                                Created: 
                                <small>{{ tag.createdFormatted }}</small>
                            </p>
                            <p title="Updated">
                                Updated: 
                                <small>{{ tag.updatedFormatted }}</small>
                            </p>

                    <button type="submit" class="button" data-loading-text="Saving...">
                        <i class="fa fa-check-circle"></i> Save
                    </button>
                    <a href="{{ routeUrl('admin.tag') }}" class="button secondary">Cancel</a>
                </div>

            </fieldset>
        </form>
    </div>

{% endblock %}
